<img src="assets/img/work/proj-8/img1.jpg" alt="Seven Sins of Birthday" />
<img src="assets/img/work/proj-8/img2.jpg" alt="Seven Sins of Birthday" />
<img src="assets/img/work/proj-8/img3.jpg" alt="Seven Sins of Birthday" />
<img src="assets/img/work/proj-8/img4.jpg" alt="Seven Sins of Birthday" />
<img src="assets/img/work/proj-8/img5.jpg" alt="Seven Sins of Birthday" />
<img src="assets/img/work/proj-8/img6.jpg" alt="Seven Sins of Birthday" />
<img src="assets/img/work/proj-8/img7.jpg" alt="Seven Sins of Birthday" />
<img src="assets/img/work/proj-8/img8.jpg" alt="Seven Sins of Birthday" />
<img src="assets/img/work/proj-8/img9.jpg" alt="Seven Sins of Birthday" />
<img src="assets/img/work/proj-8/img10.jpg" alt="Seven Sins of Birthday" />
<img src="assets/img/work/proj-8/img11.jpg" alt="Seven Sins of Birthday" />
<img src="assets/img/work/proj-8/img13.jpg" alt="Seven Sins of Birthday" />