<img src="assets/img/work/proj-9/astrology-book1.jpg" alt="Astrology Artist Book" />
<img src="assets/img/work/proj-9/astrology-book2.jpg" alt="Astrology Artist Book" />
<img src="assets/img/work/proj-9/astrology-book3.jpg" alt="Astrology Artist Book" />
<img src="assets/img/work/proj-9/astrology-book4.jpg" alt="Astrology Artist Book" />
<img src="assets/img/work/proj-9/astrology-book5.jpg" alt="Astrology Artist Book" />
<img src="assets/img/work/proj-9/astrology-book6.jpg" alt="Astrology Artist Book" />
<img src="assets/img/work/proj-9/astrology-book7.jpg" alt="Astrology Artist Book" />
<img src="assets/img/work/proj-9/astrology-book8.jpg" alt="Astrology Artist Book" />

